.low {
  fill:url(#lowGradient);
}

.high {
}

.range {
  fill-opacity: 1;
}

.line {
  fill: none;
  stroke: #191919;
  stroke-width: 1px;
}

.overlay {
  fill-opacity: 0;
}

.guide {
  pointer-events: none;
}

.highlight {
  pointer-events: none;
  fill: none;
  stroke: #191919;
  stroke-width: 2px;
}

#weeklow .line {
  stroke: blue;
}

.tile {
  fill: none;
  stroke: #191919;
  stroke-width: 1px;
}

.axis {
  font-size: 10px;
}

.daySelection {
  fill-opacity: 0;
  stroke: none;
  cursor: pointer;

}

.daySelection:hover {
  stroke: #191919;
  stroke-opacity: .5;
  stroke-width: 2px;
}

.daySelection.selected {
  stroke: #191919;
  stroke-width: 2px;
  stroke-opacity: 1;
  pointer-events: none;
}

.popup {
  pointer-events: none;
}

.popupText {
  fill: #ffffff;
  font-size: 10px;
  pointer-events: none;
}
