<div id="dashboard">
</div>
<svg xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink">

  <defs>
    <linearGradient id="highGradient"
                    x1="0%" y1="0%"
                    x2="0%" y2="100%"
                    spreadMethod="pad">
      <stop offset="50%" stop-color="#cb2c00" stop-opacity="1"/>
      <stop offset="100%"   stop-color="#ffffff" stop-opacity="1"/>
    </linearGradient>
    <linearGradient id="lowGradient"
                    x1="0%" y1="0%"
                    x2="0%" y2="100%"
                    spreadMethod="pad">
      <stop offset="0%"   stop-color="#ffffff" stop-opacity="1"/>
      <stop offset="50%" stop-color="#0326be" stop-opacity="1"/>
    </linearGradient>
  </defs>
</svg>
