<div class="myTitle">
  <span class="lead">The Diabetes Dashboard</span>
</div>
<div class="dashboard">
  <div id="header">
    <div id="currentDate" class="lead"></div>
    <div id="stackedGraphs"></div>
    <div class="picker">
      <input type="text" class="span2" value="02-16-2012" id="datepicker">
    </div>
    <button id="toggle_text" class="btn">Date Labels Off</button>
  </div>
  <div id="dashboard"></div>
  <div id="months_view_wrapper">
    <div id="months_view">
    </div>
  </div>
  </div>
</div>

