<div class="myTitle">
  <span class="lead">The Diabetes Dashboard</span>
</div>
<div class="dashboard">
  <div id="currentDate" class="lead"></div>
  <div id="figures">
    <div class="figureColumn f1">
      <span>Month</span>
      <div type="month" range="high" class="high month figure" id="month_hi"><span class="number"></span><span class="percent"></span></div>
      <div type="month" range="optimal" class="opt month figure"><span class="number"></span><span class="percent"></span></div>
      <div type="month" range="low" class="low month figure"><span class="number"></span><span class="percent"></span></div>
    </div>
    <div class="figureColumn f2">
      <span>Week</span>
      <div type="week" range="high" class="high week figure"><span class="number"></span><span class="percent"></span></div>
      <div type="week" range="optimal" class="opt week figure"><span class="number"></span><span class="percent"></span></div>
      <div type="week" range="low" class="low week figure"><span class="number"></span><span class="percent"></span></div>
    </div>
    <div class="figureColumn f3">
      <span>Day</span>
      <div type="day" range="high" class="high day figure"><span class="number"></span><span class="percent"></span></div>
      <div type="day" range="optimal" class="opt day figure"><span class="number"></span><span class="percent"></span></div>
      <div type="day" range="low" class="low day figure"><span class="number"></span><span class="percent"></span></div>
    </div>
  </div>
  <div id="dashboard"> </div>
  <div id="months_view_wrapper">
    <div id="months_view"></div>
  </div>
  </div>
</div>

