<div class="myTitle">
  <span class="lead">The Diabetes Dashboard</span>
</div>
<div class="dashboard">
  <div id="figures">
    <div class="figureColumn">
      <span>Month</span>
      <div class="figure">
        <h1>15%</h1>
        <div class="caption">This is the time spent in optimal</div>
      </div>
      <div class="figure"></div>
      <div class="figure"></div>
    </div>
    <div class="figureColumn">
      <span>Week</span>
      <div class="figure"></div>
      <div class="figure"></div>
      <div class="figure"></div>
    </div>
  </div>
  <div id="dashboard"> </div>
  <div id="months_view"></div>
  </div>
</div>
<svg xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink">

  <defs>
    <linearGradient id="highGradient"
                    x1="0%" y1="0%"
                    x2="0%" y2="100%"
                    spreadMethod="pad">
      <stop offset="50%" stop-color="#9C1700" stop-opacity="1"/>
      <stop offset="100%"   stop-color="#ffffff" stop-opacity="1"/>
    </linearGradient>
    <linearGradient id="lowGradient"
                    x1="0%" y1="0%"
                    x2="0%" y2="100%"
                    spreadMethod="pad">
      <stop offset="0%"   stop-color="#ffffff" stop-opacity="1"/>
      <stop offset="50%" stop-color="#0326be" stop-opacity="1"/>
    </linearGradient>
  </defs>
</svg>
