<div class="myTitle">
  <span class="lead">The Diabetes Dashboard</span>
</div>
<div class="dashboard">
  <div id="header">
    <div id="currentDate" class="lead"></div>
    <div id="stackedGraphs"></div>
  </div>
  <div id="dashboard"></div>
  <div id="months_view_wrapper">
    <div id="months_view">
    <button id="toggle_text" style="float:right;">Turn Dates Off</button>
    </div>
  </div>
  </div>
</div>

