<style>
body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}
#graph1 .line, #graph4 .line {
  stroke: red;
}
#graph2 .line, #graph5 .line {
  stroke: black;
}
#graph3 .line, #graph6 .line {
  stroke: blue;
}
</style>
<script src="http://d3js.org/d3.v2.js"></script>
<form>
<select id="year_selector" name="year">
  <option selected="selected">2012</option>
  <option>2011</option>
  <option>2010</option>
  <option>2009</option>
</select>
<select id="month_selector" name="month">
  <option value="0" selected="selected">January</option>
  <option value="1">February</option>
  <option value="2">March</option>
  <option value="3">April</option>
  <option value="4">May</option>
  <option value="5">June</option>
  <option value="6">July</option>
  <option value="7">August</option>
  <option value="8">September</option>
  <option value="9">October</option>
  <option value="10">November</option>
  <option value="11">December</option>
</select>
<select id="week_selector" name="week">
</select>
</form>
<div id="months">
  <div class="graph" id="graph1">
  </div>
  <div class="graph" id="graph2">
  </div>
  <div class="graph" id="graph3">
  </div>
</div>
<div id="days">
  <div class="graph" id="graph4">
  </div>
  <div class="graph" id="graph5">
  </div>
  <div class="graph" id="graph6">
  </div>
</div>
