/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
  background-color: rgb(230,230,230);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

image {
  cursor: pointer;
}
.myTitle {
  margin-left: 100px;
}

.low {
  fill:url(#lowGradient);
}

.high {
}

.range {
  fill-opacity: 1;
}

.line {
  fill: none;
  stroke: #191919;
  stroke-width: 1px;
}

.overlay {
  fill-opacity: 0;
}

.guide {
  pointer-events: none;
}

.highlight {
  pointer-events: none;
  fill: none;
  stroke: #191919;
  stroke-width: 2px;
}

.line {
  stroke-width: 2px;
}

.slice {
}

.tile {
  fill: none;
  stroke: #191919;
  stroke-width: 1px;
}

.axis {
  font-size: 10px;
}

.y.axis {
}

.daySeries .y.axis {
  opacity: 1;
}
.daySelection {
  fill-opacity: 0;
  stroke: none;
  cursor: pointer;

}

.daySelection:hover {
  stroke: #191919;
  stroke-opacity: .5;
  stroke-width: 2px;
}

.daySelection.selected {
  stroke: #191919;
  stroke-width: 2px;
  pointer-events: none;
}

.popup {
  pointer-events: none;
}

.popupText {
  fill: #ffffff;
  font-size: 10px;
  pointer-events: none;
}

.column {
  float: left;
  min-width: 250px;
}

.weekendSelection {
  fill-opacity: .2;
  fill: yellow;
  stroke: #f4d209;
  stroke-width: 1px;
}

.dashboard {
  border: 1px solid black;
  border-radius: 15px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  width: 1280px;
  height: 850px;
}
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis g text {
  font-size: 8px;
}

.figure {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  margin: 4px auto;
  border-radius: 15px;
}

.figure .caption {
  line-height: 1.2em;
  font-size: 10px;
}

.figureColumn {
  text-align: center;
  width: 70px;
  position: fixed;
}

.f1 {
  left: 80px
}

.f2 {
  left: 150px;
}
.f3 {
  left: 220px;
}

#figures {
  width: 250px;
  float: left;
  margin-top: 50px;
}
#months_view_wrapper {
  width: 260px;
  float: left;
}

div#months_view {
  width: 260px;
  height: 700px;
  position: fixed;
}
#dashboard {
  width: 715px;
  height: 700px;
  float: left;
  margin-left: 10px;
  margin-right: 25px;
  margin-top: 50px;
  border-left: 1px black solid;
  border-right: 1px black solid;
}

.figure.high {
  background-color: #ffab9c;
}

.figure.low {
  background-color: #bcc8ff;
}

.figure span {
  display: inline-block;
  padding-top: 18px;
  font-size: 26px;
}

#currentDate {
  position: fixed;
  font-size: 18px;
}
