/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
  background-color: rgb(230,230,230);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
}

image {
  cursor: pointer;
}
.myTitle {
  width: 1050px;
  margin: auto;
}

.low {
  fill:url(#lowGradient);
}

.high {
}

.range {
  fill-opacity: 1;
}

.line {
  fill: none;
  stroke: #191919;
  stroke-width: 1px;
}

.overlay {
  fill-opacity: 0;
}

.guide {
  pointer-events: none;
}

.highlight {
  pointer-events: none;
  fill: none;
  stroke: #191919;
  stroke-width: 2px;
}

.line {
  stroke-width: 2px;
}

.slice {
}

.tile {
  fill: none;
  stroke: rgb(130, 130, 130);
  stroke-width: 1px;
}

.axis {
  font-size: 10px;
}

.y.axis {
}

.daySeries .y.axis {
  opacity: 1;
}
.daySelection {
  fill-opacity: 0;
  stroke: none;
  cursor: pointer;

}

.daySelection:hover {
  stroke: #191919;
  stroke-opacity: .5;
  stroke-width: 2px;
}

.daySelection.selected {
  stroke: #191919;
  stroke-width: 2px;
  pointer-events: none;
}

.popup {
  pointer-events: none;
}

.popupText {
  fill: #ffffff;
  font-size: 10px;
  pointer-events: none;
}

.column {
  float: left;
  min-width: 250px;
}

.weekendSelection {
  fill-opacity: .2;
  fill: yellow;
  stroke: #f4d209;
  stroke-width: 1px;
}

.dashboard {
  border: 1px solid black;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: none;
  margin: 20px auto;
  margin-bottom: 0px;
  padding: 20px;
  background-color: white;
  width: 1050px;
  height: 850px;
}
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis g text {
  font-size: 8px;
}

#months_view_wrapper {
  width: 260px;
  float: left;
  margin-top: 50px;
}

div#months_view {
  width: 260px;
  height: 700px;
}
#dashboard {
  width: 715px;
  height: 700px;
  float: left;
  margin-left: 10px;
  margin-right: 25px;
  margin-top: 50px;
  border-right: 1px black solid;
}

.stack.high {
  fill: #dda197;
}

.stack.low {
  fill:  #798ad3;
}

.stack.optimal {
  fill: white;
}

.stacked .outline{
  fill: none;
  stroke: #191919;
  stroke-width: 2px;
}
.figure span {
  display: inline-block;
  padding-top: 18px;
  font-size: 26px;
}
#header {
  position: absolute;
  width: 1050px;
}

#currentDate {
  float: left;
  margin: 9px 5px;
  margin-left: 50px;
  width: 400px;
}

#stackedGraphs {
  float: left;
  margin-left: 43px;
}

#months_view .day {
  cursor: pointer;
}

.stackLabel {
  font-size: 12px;
}

#datepicker {
  float: left;
  margin-left: 40px;
}

#toggle_text {
  float: left;
  margin-left: 20px;
}
